<!--
Author: Dietrich Sinkevitch
Program: Tech Product Search Tool
Date: 08/08/2023
Github Link: https://github.com/dytryk/techproductsearchtool
-->

<!--
This page has not been set up yet, as there is no current functionality for admins
-->

{% extends "base_home.html" %} {% block title %}Admin Home{% endblock %} {% block content
    %}
    <h1 align="center">The Admin Page has not been set up yet.</h1>
    <ul class="list-group list-group-flush" id="notes">
    </ul>
    <form method="POST">
    </form>
    <body>
    </body>
    </html>
    {% endblock %}